{% extends "base.html" %}

{% block content %}
  <div class="section-name">
    <p>{{ genre.name }}</p>
  </div>
  <article class="description-style">
    <p>Description: {{ genre.description }}</p>
  </article>
  <div class="section-name">
    <p>Bands in Starry, which plays this genre:</p>
  </div>
  <hr>
  <ul>
    {% for rockband in genre.rockbands.all %}
      <li>
        <a class="nav-link" href="{% url 'bar:rockband-detail' pk=rockband.id %}" >
          {{ rockband.band_name }}
        </a>
      </li>
    {% empty %}
      <div class="description-style">
        <p>No bands who play this type of music for now in Starry's schedule!</p>
      </div>
    {% endfor %}
  </ul>
  <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary btn-custom">Return</a>
{% endblock %}
