{% extends "base.html" %}

{% block content %}
  <div class="title-text">
    <p>Starry Home</p>
  </div>
  <div class="subtitle-text">
    <p>Welcome to Starry Music-bar!</p>
    <p>In Starry we have:</p>
  </div>
    <section class="container-home-page">
      <article class="front-block">
        <p>{{ num_events }}</p>
        <p>Events in our schedule right now! </p>
      </article>
      <article class="front-block">
        <p>{{ num_bands }}</p>
        <p>Bands that will play your day!</p>
      </article>
      <article class="front-block">
        <p>{{ num_musicians }}</p>
        <p>Musicians that will perform for you!</p>
      </article>
    </section>
{% endblock %}
