{% extends "base.html" %}


{% block content %}
  <h1>
    Musicians List
    {% if user.is_superuser %}
    <a href="{% url 'bar:musician-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
    {% endif %}
  </h1>

  <form action="" method="get" class="form-inline">
    {{ search_form.as_p }}
  <input type="submit" class="btn btn-secondary" value="✅">
  </form>

  {% if musician_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name:</th>
      </tr>

      {% for musician in musician_list %}
        <tr>
          <td>
              {{ musician.id }}
          </td>
          <td>
            <a href="{% url "bar:musician-detail" pk=musician.id %} ">
              {{ musician.first_name }} {{ musician.last_name }}
            </a>
          </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no musicians!</p>
  {% endif %}
{% endblock %}
