{% extends "base.html" %}

{% block content %}
  <div class="section-name">
    <p>Full name: </p>
  </div>
  <h2>
    {{ musician.first_name }} {{ musician.last_name }}
  </h2>
  <div class="section-name">
    <p>Positions this musician plays on:</p>
  </div>
    <ul>
      {% for position in musician.position.all %}
        <div class="text-writing-style">
          <li>{{ position.name }}</li>
        </div>
      {% endfor %}
    </ul>
  <div class="section-name">
    <p>Bands this musician plays in:</p>
  </div>
    <ul>
      {% for rockband in musician.rockbands.all %}
        <li>
          <a class="nav-link" href="{% url 'bar:rockband-detail' pk=rockband.id %}">
          {{ rockband.band_name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% if user.is_superuser %}
  <a href="{% url 'bar:musician-delete' pk=musician.id %}" class="btn btn-danger btn-reverse link-to-page">
    Delete
  </a>
  {% endif %}
  <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary btn-custom">Return</a>
  {% if user.is_superuser %}
  <a href="{% url 'bar:musician-update' pk=musician.id %}" class="btn btn-secondary btn-custom link-to-page">
    Update
  </a>
  {% endif %}
{% endblock %}
