{% extends "base.html" %}

{% block content %}
  <h1>
    Bands List
    {% if user.is_superuser %}
    <a href="{% url 'bar:rockband-create' %}" class="btn btn-primary btn-custom link-to-page">
      Create
    </a>
    {% endif %}
  </h1>

  <form action="" method="get" class="form-inline">
    <div>
      {{ search_form.as_p }}
      <input type="submit" class="btn btn-secondary btn-custom" value="Search">
    </div>
  </form>

  {% if rockband_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Band name</th>
        {% if user.is_superuser %}
        <th>Update</th>
        <th style="color: yellow">Delete</th>
        {% endif %}
      </tr>

      {% for rockband in rockband_list %}
        <tr>
          <td>
              {{ rockband.id }}
          </td>
          <td>
            <a class="list-link-style" class="list-link-style" href="{% url "bar:rockband-detail" pk=rockband.id %} ">
              {{ rockband.band_name }}
            </a>
          </td>
          {% if user.is_superuser %}
          <td>
            <a class="list-link-style" href="{% url 'bar:rockband-update' pk=rockband.id %}">
              Update
            </a>
          </td>
          <td>
            <a style="color: yellow"
               href="{% url 'bar:rockband-delete' pk=rockband.id %}">
              Delete
            </a>
          </td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
  {% else %}
      <p>There are no rockbands!</p>
  {% endif %}
{% endblock %}
