{% extends "base.html" %}

{% block content %}
  <div class="section-name">
    <p>Band name: </p>
  </div>
  <h2>
  {{ rockband.band_name }}
  </h2>
  <div class="section-name">
    <p>Musicians that playing in this band: </p>
  </div>
  <div class="container-home-page">
    <div class="container-home-page">
      {% for musician in rockband.musicians.all %}
        <div class="front-block">
          <a class="nav-link" href="{% url "bar:musician-detail" pk=musician.id %} ">
            {{ musician.first_name }} {{ musician.last_name }}
          </a>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="section-name">
    Genre that this band represents:
  </div>
    <a class="nav-link" href="{% url "bar:genre-detail" pk=rockband.genres.id %} ">
    {{ rockband.genres.name }}
    </a>
  <hr>
    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary btn-custom">Return</a>
{% endblock %}
