{% extends "base.html" %}

{% block content %}
  <div class="section-name">
    <p>Private cabinet: </p>
  </div>

  <article>
    <h2>
    Username: {{ visitor.username }}
      <a href="{% url 'bar:visitor-delete' pk=visitor.id %}" class="btn btn-danger btn-reverse link-to-page">
        Delete
      </a>
    </h2>
    <p><strong>First name:</strong> {{ visitor.first_name }}</p>
    <p><strong>Last name:</strong> {{ visitor.last_name }}</p>
  </article>


  <div class="ml-3">
    <h4 class="description-style">Events, you want to visit:</h4>

    {% for event in visitor.events.all %}
      <hr>
        <p>
          <strong>Event:</strong>
          <a class="description-style" href="{% url 'bar:event-detail' pk=event.id %}">
            {{ event.name }}
          </a>
        </p>
    {% empty %}
      <p>No events!</p>
    {% endfor %}
  </div>
  <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary btn-custom">Return</a>
{% endblock %}
